[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fluoxa
[access "refs/for/refs/*"]
	read = group user/fluoxa
	push = group user/fluoxa
	label-Code-Review = -2..+2 group user/fluoxa
	label-Verified = -1..+1 group user/fluoxa
	rebase = group user/fluoxa
	removeReviewer = group user/fluoxa
	submit = group user/fluoxa
[access "refs/heads/*"]
	read = group user/fluoxa
	create = group user/fluoxa
	push = +force group user/fluoxa
	pushMerge = group user/fluoxa
[access "refs/tags/*"]
	push = +force group user/fluoxa
	pushTag = group user/fluoxa
	pushSignedTag = group user/fluoxa
